div.modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $darkBgSubtleDarkTransparent;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    div.modal-inner {
        width: 80%;
        height: 80%;
        position: relative;

        div.modal-content {
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            height: 100%;
            border-radius: 5px;
        }
    }
}
