@import "bootstrap";
@import "vars";
@import "layouts/section";
@import "components/navigation";
@import "components/welcome";
@import "components/article";
@import "js-parts/modal";

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
}

div.wrapper {
    min-height: 100vh;
    position: relative;
    padding-bottom: 4rem;
}

// sections
section.content {
    h1 {
        color: $darkenSuccessColor;
        font-weight: bold;
    }
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
// sections - end

// buttons
button.arrow-up {
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 5rem;
    right: 4rem;
    box-shadow: 0 0 20px $dark;
}
// buttons - end
