article.post {
    h2, h3 {
        color: $darkenSuccessColor;
        text-align: center;
        margin: 1em;
    }

    h3 {
        font-size: calc(1.3rem + 0.3vw);
    }

    a {
        font-weight: normal!important;
        color: $darkenSuccessColor;
    }

    p {
        text-align: justify;
        text-indent: 2em hanging;
    }
    p:last-of-type {
        margin-bottom: 0;
    }

    span.has-accent-color {
        color: $darkenSuccessColor;
        font-weight: bolder;
    }

    div.is-type-video {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }

    div.wp-block-pullquote {
        text-align: center;
        border: 1px solid $darkenSuccessColor;
        border-radius: 5px;
        margin: 2rem;
        padding: 1rem;

        blockquote {
            margin: 0;

            p {
                text-align: center;

                strong {
                    text-transform: uppercase;
                }
            }
        }
    }

    div.help-template {
        margin-top: 1rem;
    }

    ul.blocks-gallery-grid {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        li.blocks-gallery-item {
            flex-basis: 20%;
            flex-grow: 1;
            padding: 0.5rem;

            img {
                width: 100%;
                height: auto;
                border-radius: 5px;
                border: 1px solid $darkenSuccessColor;
                transition: $transitionTime;
                cursor: pointer;
            }

            img:hover {
                box-shadow: 2px 2px 5px $dark;
                translate: -2px -2px;
            }
        }
    }
}
